* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "UAF Sans";
  line-height: normal;
  font-style: normal;

  /* Hide vertical scrollbar */
  ::-webkit-scrollbar {
    width:0;
    background: rgb(101, 99, 99);
  }

}

body, html, #root {
  width: 100%;
  height: 100%;
}
