.container {
  margin-top: 30px;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.paginationBtn{
  color:black;
  height: 35px;
  width: 30px;
  border-radius: 5px;
  border:none;

  &:hover {
    scale: 1.05;
    transition-duration: 200ms;
    cursor: pointer;
  }

}

.paginationBtn_active{
  background: linear-gradient(#335a3e, #174022);
  border: none;

  color: white;

}

.separator {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
