.card{
  width: 500px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  color: #131313;
}

.img{
  height: 100%;
  width: 100%;
}