.middleTitle {
  display: flex;

  text-align: center;
  font: {
    family: Montserrat;
    size: 14px;
    style: normal;
    weight: 400;
  };
  line-height: normal;
  color: var(--White-Text, #F3F3F3);
  width: 650px;
}