.card {
  @media screen and (min-width: 600px) {
    width: 240px;
  };

  @media screen and (max-width: 600px) {
    width: 200px;
  };

  display: flex;
  flex-direction: column;
  gap:10px;
}

.cardTitle {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cardDate {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
