.container {
  width: 100%;
  gap: 5%;

  display: grid;
  grid-template-columns:  1fr 1fr;
  padding: 3% 5% 5% 5%;

  @media screen and (width < 1240px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1% 2%;
  }

}

.subcontainer {
  padding: 5%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5vh;
  height: 100%;
}