.card {
  @media screen and (width < 768px) {
    width: 90%;
  }
  @media screen and (width > 768px) {
    width: 75%;
  }
  margin: 20px auto;
}

.details {
  text-decoration: none;
  padding-left: 20px;
  color: black;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.detailsContainer{
  margin-top: 20px;
}


.line {
  height: 135%;
  width: 2px;
  background: black;
  position: absolute;
  bottom: 5%;
  left: 3%
}

.cardTitle {
  font-family: UAF Sans;
  position: relative;
  font-size: 24px;
  font-weight: 700;
  padding: 1px 0 0 20px;

}

.cardImg {
  width: 100%;
}

.cardDescription {
  font-family: UAF Sans;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 0 0 20px;
}