.titleContainer {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  color: #000;
  font-size: 32px;
  font-weight: 700;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}
