.titleName {
  color: #F3F3F3;
  font-family: Montserrat;
  font-size: min(12px, 2vw);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.logo {
  width: min(100px, 12vw);
  height: min(100px, 12vw);
}

.containerTitleLogo {
  display: flex;
  align-items: center;
  gap: 10px;
}