.titleName {
  color: #F3F3F3;
  font-size: min(14px, 3vw);
  font-weight: 700;
  text-decoration: none;
}

.logo {
  width: min(100px, 10vw);
  height: min(100px, 10vw);
}

.containerTitleLogo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.skeleton{
  width: min(100px, 10vw);
  height: min(100px, 10vw);
  border-radius: 100%;
}