.additionForHistoryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 1000px;
  height: max-content;
  gap: 10px;
}

.additionForHistoryTitle {
  text-align: left;
  font: {
    size: 14px;
    weight: 600;
  }
}

.additionForHistoryMain {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 1000px) {
  .additionForHistoryContainer {
    width: 600px;
  }
}

@media (max-width: 600px) {
  .additionForHistoryContainer {
    width: 300px;
  }
}