.mobileHeader {
  display: flex;
  width: 100vw;
  justify-content: end;
  align-items: center;
  z-index: 20;
  position: fixed;
  background: rgba(0, 0, 0, 0.25);
  padding: 3%;
  backdrop-filter: blur(5px);
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.5);
  transition-duration: 700ms;
}

.openSidebar {
  border: none;
  background: transparent;
  color: white;
  font-size: 8vw;
}

.logoContainer {
  left: 2%;
  position: absolute;
}
