.container {
  margin-top: 35px;
  position: relative;
  width: 100%;
  display: flex;

  @media screen and (width < 1050px) {
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  padding-bottom: 35px;
  border-bottom: 2px solid black;
}

.about {
  @media screen and (width < 1050px) {
    width: 100%;
  }
  width: 50%;
  font-size: 14px;
}

.title {
  text-align: left;
}

.description {
  margin-top: 20px;
}