.historyCard {
  width: max-content;
  height: max-content;
  display: flex;
  gap: 20px;
  align-items: center;

  img {
    width: 425px;
    height: 268px;
  }
  div {
    width: 555px;
    height: min-content;
    font-size: 14px;
    font-weight: 400;
  }
}

.textAlignRight {
  text-align: right;
}

.textAlignLeft{
  text-align: left;
}