.container {
  padding: 5%;
  margin-top: 40px;
  display: grid;
  @media screen and (width > 1140px){
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (width < 1140px){
    grid-template-columns: 1fr 1fr ;
  }

  @media screen and (width < 768px){
    grid-template-columns: 1fr;
  }
}