.navLink{
  text-transform: uppercase;
  text-decoration: none;
  text-decoration-color: white;
  color: var(--White-Text, #F3F3F3);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}