.middleTitle {
  display: flex;
  text-align: start;
  font: {
    size: 14px;
    weight: 300;
    style: normal;
  };

  color: black;
  width: min(600px, 50vw);
  height: min-content;
  line-height: normal;
}