.container {

}

.burger > * {
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}

.burger {
  transition: height 0.3s ease-in-out;

}

.burger_open {
  height: auto;
}

.burger_open > * {
  height: auto;
}


//BY default
//transform: translate(-110%, 0);
//transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
//
//#sprmt-menu-settings-toggle:checked ~ ul {
//  transform-origin: 0 0;
//  transform: translate(0, 0);
//  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
//}