.navigationTitle {
  font-weight: 700;
}


.navigationContainer {
  font: {
    weight: 400;
    size: 14px;
  };
  color: #F3F3F3;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.navigationElement {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 640px) {
  .navigationContainer {
    align-items: center;
    justify-content: center;
  }
}