.listsContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.listTitle {

}

.list {
  padding-left: 30px;
}

.listItem {
  padding-top: 10px;

  p{
    padding-left: 20px;
    margin-top: 20px;
  }
}