
.headerContainer {
  display: grid;
  @media screen and (width < 900px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  grid-template-columns: 1fr 1fr;
}

.endText {
  margin-top: 5vh;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}