
.tablesContainer {
  overflow-x: scroll;
  width: 90vw;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;

  tr {

    td {
      text-align: center;
      padding: 10px;
      border: 1px solid black;
    }
  }

}