
.tablesContainer {
  overflow-x: scroll;

  @media screen and (width < 900px) {
    width: 90vw;
  }
}

.row {
  //border: 1px solid black;
}

.rowElement {
  border: 1px solid black;
  text-align: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

.tableElement {
  padding: 20px;
  text-align: center;
}

.header{
  padding: 20px;
  text-align: center;
  border: 1px solid black;
}

.tableElementMany {
  border-bottom: 1px solid black;
}


