.middleHistoryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
  gap: 10px;
  width: min-content;
}

.middleHistoryText {
  width: 1000px;
  height: max-content;
  font-size: 14px;
  font-weight: 400;
  text-align: start;
}

.middleHistoryImgContainer {
  display: flex;
  width: 1000px;
  height: min-content;
  flex-wrap: wrap;
  gap: 10px;
}

.middleHistoryImg {
  width: 495px;
  height: 268px;
  display: flex;
  align-items: center;
  img {
    width: 425px;
    height: 100%
  }
}

.alignImgLeft {
  justify-content: start;
}
.alignImgRight {
  justify-content: end;
}

@media (max-width: 1000px) {
  .middleHistoryText {
    width: 600px;
  }
  .middleHistoryImgContainer {
    width: 600px;
  }
  .middleHistoryImg {
    width: 295px;
    height: 168px;
    img {
      width: 270px;
      height: 100%
    }
  }
}

@media (max-width: 600px) {
  .middleHistoryContainer {
    flex-direction: column-reverse;
  }

  .middleHistoryText {
    width: 300px;
  }
  .middleHistoryImgContainer {
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  .middleHistoryImg {
    width: 300px;
    height: 168px;
    img {
      width: 300px;
      height: 100%
    }
  }
}