.middleHistoryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
  gap: 10px;
  width: min-content;
}

.middleHistoryText {
  width: 1000px;
  height: max-content;
  font-size: 14px;
  font-weight: 400;
  text-align: start;
}

.middleHistoryImgContainer {
  display: flex;
  width: 1000px;
  height: min-content;
  flex-wrap: wrap;
  gap: 150px;
}

.middleHistoryImg {
  width: 495px;
  height: 268px;
  img {

  }
}