.container {
  display: grid;
  @media screen and (width < 1200px) {
    grid-template-columns: 1fr;
  }
  grid-template-columns: 1fr 1fr;
  padding: 2% 0;
  gap: 5%;
}

.img {
  width: 100%;
}


ul li {
  list-style-type: disc;
  margin-top: 24px;
  font-size: 14px;
  font-weight: 400;
}

.addressesContainer ul {
  margin-left: 20px;
}

.instruction {
  margin:0 0 30px 20px;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 20px;
  display: flex;
  align-items: start;
  span {
    font-size: 9px;
    margin-right: 6px;
  }
}


.addressesContainer {
  display: flex;
  flex-direction: column;
  gap: 5%;
}

