.container {
  width: 100%;
  gap: 3%;

  display: grid;
  grid-template-columns:  1.3fr 1fr;
  padding: 3% 5% 5% 5%;

  @media screen and (width < 1380px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1% 2%;
  }

}
.subcontainer1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subcontainer2 {
  padding: 5%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 5vh;
  height: 100%;
}