.container{
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}

.title{
  font-size: 24px;
  font-weight: 600;
  margin-right: 5px;
}

.titleText{

}

.contentItem{
  margin-top: 20px;
}

.finalText{
  margin-top: 30px;
  font-size: 14px;
  font-weight: 600;
}