.navLinkB {
  color: var(--White-Text, #F3F3F3);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.navLinkB_active {
  border-bottom: 2px solid #F3F3F3;
  border-radius: 1px;
  padding: 8px  0;
  transition-duration: 200ms;
}